
id_ed25519
id_rsa
id_dsa
#id_*. this doesn't work as I expected! all id_*. must be added separately (as seen above)

.bash_history*
.viminfo
.xsession-errors
.lesshst
.Xauthority
.ICEauthority
.gksu.lock
.cvspass
.python_history
.xsel.log
.nft.history
.xchm
.rnd
.xfce4-session.verbose-log*
.zsh_histfile

group
group-
shadow
shadow-
sudoers

keepassx

private-keys-*/
random_seed

.netrwhist

