
id_ed25519
id_rsa
id_dsa
#id_*. this doesn't work as I expected! all id_*. must be added separately (as seen above)
ldap.key
ldap.pem

.bash_history*
.viminfo
.xsession-errors
.lesshst
.Xauthority
.ICEauthority
.gksu.lock
.cvspass
.python_history
.xsel.log
.nft.history
.xchm
.rnd
#.xfce4-session.verbose-log*
.zsh_histfile
.bzr.log

group
group-
shadow
shadow-
sudoers

keepassx

private-keys-*/
random_seed

.netrwhist

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
#*.so.*
*.dylib

# Executables
*.exe
*.out
#*.app
#*.i*86
#*.x86_64
#*.hex


# vim .swp files
*.sw?

#backup files
*.bak
*~

.pwd.lock

