[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/emacs/Desktop/xfce4-terminal.desktop]
row=0
col=1

[/home/emacs/Desktop/urxvt.desktop]
row=1
col=1

[/]
row=0
col=0

[/home/emacs]
row=1
col=0

