[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/emacs/Desktop/firefox.desktop]
row=4
col=0

[/home/emacs/Desktop/xfce4-terminal.desktop]
row=5
col=0

[C6B64096B64088BF]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/emacs]
row=3
col=0

