[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/emacs/Desktop/firefox-aurora.desktop]
row=4
col=0

[/home/emacs/Desktop/urxvt.desktop]
row=6
col=0

[/home/emacs/Desktop/NEWchromium modified cmdline.desktop]
row=5
col=0

[C6B64096B64088BF]
row=0
col=0

[Trash]
row=3
col=0

[/]
row=1
col=0

[/home/emacs]
row=2
col=0

