[General]
Show_Title=true
Show_Labels=true
Use_Bar_UI=1
Show_Colored_Bars=true
Scale=0
Font_Size=medium
Font_Size_Numerical=2
Font=Sans 12
Lines_Size=3
Update_Interval=5
Exec_Command=true
Show_Units=true
Small_Spacings=false
Command_Name=xfce4-sensors
Number_Chips=5
Suppress_Hddtemp_Message=false
Suppress_Tooltip=true
Preferred_Width=427
Preferred_Height=358

[Chip0]
Name=acpitz-0
Number=0

[Chip0_Feature0]
Id=0
Address=0
Name=CPU temp
Color=#00B000
Show=true
Min=0.00
Max=49.00

[Chip0_Feature1]
Id=-1
Address=1
Name=MOBO temp
Color=#00B000
Show=true
Min=0.00
Max=46.00

[Chip1]
Name=radeon-8
Number=1

[Chip1_Feature0]
Id=0
Address=0
Name=gfx card
Color=#00B000
Show=true
Min=0.00
Max=51.00

[Chip2]
Name=k10temp-c3
Number=2

[Chip2_Feature0]
Id=0
Address=0
Name=CPU temp
Color=#00B000
Show=true
Min=0.00
Max=49.12

[Chip3]
Name=Hard disks
Number=3

[Chip3_Feature0]
Id=0
DeviceName=/dev/sdb
Name=/dev/sdb
Color=#B000B0
Show=true
Min=10.00
Max=50.00

[Chip4]
Name=ACPI
Number=4

[Chip4_Feature0]
Id=0
Address=0
Name=L09S6Y02
Color=#0000B0
Show=true
Min=0.00
Max=27460.00

[Chip4_Feature1]
Id=1
Address=1
Name=startup0
Color=#0000B0
Show=true
Min=20.00
Max=60.00

[Chip4_Feature2]
Id=2
Address=2
Name=startup1
Color=#0000B0
Show=true
Min=20.00
Max=60.00

