[Unit]
Description=Check that boot is what we want
Requires=basic.target
After=basic.target

[Service]
Type=oneshot
ExecStart=/home/emacs/build/amdmsrtweaker-lnx/go

[Install]
WantedBy=multi-user.target

