[Desktop Entry]
Version=1.0
Type=Application
Name=ce IP am
Comment=
Exec=sh -c /home/a/bin/whatismyip
Icon=ipython-notebook
Path=/home/a/bin
Terminal=true
StartupNotify=true
