[Desktop Entry]
Version=1.0
Type=Application
Name=deschide conexia router
Comment=ca sa pot intra eu
Exec=sh -c /home/a/bin/routerme
Icon=ipython-notebook
Path=/home/a/bin
Terminal=true
StartupNotify=true
