[Settings]
ShowAllProcesses=TRUE
MorePrecision=TRUE
FullCommandLine=TRUE
ShowStatusIcon=TRUE
ShowMemoryInXBytes=TRUE
MonitorPaintBox=TRUE
ShowApplicationIcons=TRUE
ToolbarStyle=DEFAULT
PromptTerminateTask=TRUE
RefreshRate=1000
ColumnsPositions=0;2;1;3;4;5;7;6;8;
ColumnUID=TRUE
ColumnPID=TRUE
ColumnPPID=TRUE
ColumnState=TRUE
ColumnVSZ=TRUE
ColumnRSS=TRUE
ColumnCPU=TRUE
ColumnPriority=TRUE
SortColumn=7
SortType=1
WindowWidth=894
WindowHeight=581
HandlePosition=100
ProcessTreeView=FALSE
