[Desktop Entry]
Version=1.0
Type=Application
Name=deschide conexia router
Comment=ca sa pot intra eu
Exec=xfce4-terminal --command=/home/a/bin/routerme --working-directory=/tmp
Icon=ipython-notebook
Path=/home/a/bin
Terminal=false
StartupNotify=true
