[Desktop Entry]
Name=firefox
GenericName=Web Browser
Icon=firefox-aurora-icon
Type=Application
Categories=Application;Network;
Encoding=UTF-8
Exec=firefox %u
Terminal=false
MultipleArgs=false
StartupNotify=true
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;
X-XFCE-Source=file:///usr/share/applications/firefox-aurora.desktop
Comment=
Path=
