[Unit]
Description=Periodic Command Scheduler

[Service]
ExecStart=/usr/bin/crond -n -s
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
