
id_ed25519
id_rsa
id_dsa

.bash_history*
.viminfo
.xsession-errors
.lesshst
.Xauthority
.ICEauthority
.gksu.lock
.cvspass
.python_history
.xsel.log
.nft.history
.xchm
.rnd
.xfce4-session.verbose-log*
.zsh_histfile
.bzr.log

